<h1>Welcome to EDA example!</h1>
<p>Click below on one of the links to see functionality of a standard or EDA architectrure. You should see that functionally there is not much of a difference, but code and architecture wise, there is a big difference! Just try to remove smart component from either standard/standard.component.html or eda/eda.component.html to see for yourself ;) Which component does actually break? :)</p>
<a mat-raised-button [routerLink]="'standard'">Standard architecture</a>
<a mat-raised-button [routerLink]="'eda'">EDA architecture</a>
<router-outlet></router-outlet>
