<mat-toolbar>
  <span class="spacer"></span>
  <lib-notifications></lib-notifications>
</mat-toolbar>
<main style="display: flex; flex-direction: row">
<section style="width: 50%; padding: 10px;">
  <mat-card>
    <lib-categories></lib-categories>
    <lib-ngrx-categories></lib-ngrx-categories>
    <lib-products></lib-products>
    <lib-ngrx-products></lib-ngrx-products>
  </mat-card>
</section>
<section style="width: 50%; padding: 10px;">
  <mat-card>
    <lib-settings></lib-settings>
  </mat-card>
</section>
</main>
